[submodule "lib/LigandMPNN"]
	path = lib/LigandMPNN
	url = git@github.com:ikalvet/LigandMPNN.git
[submodule "lib/alphafold"]
	path = lib/alphafold
	url = git@github.com:google-deepmind/alphafold.git
[submodule "lib/rf_diffusion_all_atom"]
	path = lib/rf_diffusion_all_atom
	url = git@github.com:baker-laboratory/rf_diffusion_all_atom.git

[submodule "lib/RFDesign"]
	path = lib/RFDesign
	url = git@github.com:RosettaCommons/RFDesign.git
